venv/
.venv/

__pycache__/
*.py[cod]
*.pyo

db.sqlite3

.env
.env.*

local_settings.py
restaurantemym/settings.py

docker-compose.yml
Dockerfile
docker-compose.override.yml

# 
gunicorn.conf.py
gunicorn.ctl

*.pem
*.key
*.crt

*.log

.vscode/
.idea/

staticfiles/
media/

.DS_Store

.coverage
htmlcov/
.pytest_cache/